.idea/
cmake-build-debug/
build/
.DS_Store
__pycache__/

log/
results/
saved_checkpoints/
saved_models/

.env
data/output_files/*
!data/output_files/.gitkeep
data/raw_files/*
!data/raw_files/.gitkeep
data/tmp/*
!data/tmp/.gitkeep
