[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
matplotlib = "*"
python-dotenv = "*"
pandas = "*"
numpy = "*"
pyarrow = "*"
fastparquet = "*"
retrying = "*"
torch = "*"
scikit-learn = "*"
jupyter = "*"
tgn = {ref = "0d21bd27c4d528a287650efc23336e4af56b1832", git = "git+ssh://git@github.com/ashfaq1701/tgn.git"}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
