[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
matplotlib = "*"
python-dotenv = "*"
pandas = "*"
numpy = "*"
pyarrow = "*"
fastparquet = "*"
retrying = "*"
torch = "*"
scikit-learn = "*"
jupyter = "*"
tgn = {ref = "d6addd6481ead4032895aeb6c21d51af1a98895f", git = "git+ssh://git@github.com/ashfaq1701/tgn.git"}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
